PORT=4006
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ticket_db
RABBITMQ_URL=amqp://guest:guest@localhost:5672
SERVICE_NOW_INSTANCE_URL=
SERVICE_NOW_CLIENT_ID=
SERVICE_NOW_CLIENT_SECRET=

