PORT=8080
AUTH_SERVICE_URL=http://localhost:4001
BANKING_SERVICE_URL=http://localhost:4002
CHATBOT_SERVICE_URL=http://localhost:4003
RAG_SERVICE_URL=http://localhost:4005
TICKET_SERVICE_URL=http://localhost:4006
AUDIT_SERVICE_URL=http://localhost:4008

